<body>
    <h2>Timothy DeVries</h2>
    <h3>Software Engineer</h3>
    <p>
        Tim DeVries is an experienced software developer with a demonstrated history of working in the financial services industry.
        Specializing in Java back-end web apps and spring boot microservices, with experience working with gradle, jenkins CI, docker, angular, .NET, and Python, he is a well-rounded developer, capable of developing across a full stack.
        Tim is a strong engineering professional with a Bachelor of Science in Computer Science from Grand Valley State University in Grand Rapids, MI.
    </p>
    <h3>Hobbyist</h3>
    <p>
        Tim has many hobbies, including cars, boats, home-brewed beer, and DIY projects around the house. Many of these will be documented under the 'Hobbies' section of this website. Feel free to take a look around and don't hesitate to reach out with any questions or comments.
    </p>
</body>